@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: "Playfair Display", serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(1.0000 0 0);
  --foreground: oklch(0.1441 0.0063 246.6299);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1441 0.0063 246.6299);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1441 0.0063 246.6299);
  --primary: oklch(0.6578 0.1733 149.7017);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.94 0.06 149.7);
  --secondary-foreground: oklch(0.25 0.05 149.7);
  --muted: oklch(0.9691 0.0017 247.8397);
  --muted-foreground: oklch(0.5491 0.0226 248.2392);
  --accent: oklch(0.9724 0.0239 158.1770);
  --accent-foreground: oklch(0.5336 0.1382 149.9956);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --border: oklch(0.9143 0.0049 247.8773);
  --input: oklch(0.9143 0.0049 247.8773);
  --ring: oklch(0.6578 0.1733 149.7017);
  --chart-1: oklch(0.6578 0.1733 149.7017);
  --chart-2: oklch(0.6165 0.1534 262.7168);
  --chart-3: oklch(0.8012 0.1378 81.5452);
  --chart-4: oklch(0.7106 0.1442 313.7638);
  --chart-5: oklch(0.5964 0.1903 33.1614);
  --sidebar: oklch(0.9846 0.0009 247.8294);
  --sidebar-foreground: oklch(0.1441 0.0063 246.6299);
  --sidebar-primary: oklch(0.6578 0.1733 149.7017);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9456 0.0478 157.5753);
  --sidebar-accent-foreground: oklch(0.5336 0.1382 149.9956);
  --sidebar-border: oklch(0.8428 0.0090 247.9335);
  --sidebar-ring: oklch(0.6578 0.1733 149.7017);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(210 22% 4%);
  --shadow-opacity: 0.05;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px 0px hsl(210 22% 4% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(210 22% 4% / 0.03);
  --shadow-sm: 0px 4px 10px 0px hsl(210 22% 4% / 0.05), 0px 1px 2px -1px hsl(210 22% 4% / 0.05);
  --shadow: 0px 4px 10px 0px hsl(210 22% 4% / 0.05), 0px 1px 2px -1px hsl(210 22% 4% / 0.05);
  --shadow-md: 0px 4px 10px 0px hsl(210 22% 4% / 0.05), 0px 2px 4px -1px hsl(210 22% 4% / 0.05);
  --shadow-lg: 0px 4px 10px 0px hsl(210 22% 4% / 0.05), 0px 4px 6px -1px hsl(210 22% 4% / 0.05);
  --shadow-xl: 0px 4px 10px 0px hsl(210 22% 4% / 0.05), 0px 8px 10px -1px hsl(210 22% 4% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(210 22% 4% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1441 0.0063 246.6299);
  --foreground: oklch(0.9846 0.0009 247.8294);
  --card: oklch(0.1441 0.0063 246.6299);
  --card-foreground: oklch(0.9846 0.0009 247.8294);
  --popover: oklch(0.1441 0.0063 246.6299);
  --popover-foreground: oklch(0.9846 0.0009 247.8294);
  --primary: oklch(0.6578 0.1733 149.7017);
  --primary-foreground: oklch(0.1441 0.0063 246.6299);
  --secondary: oklch(0.3182 0.0115 248.1899);
  --secondary-foreground: oklch(0.9846 0.0009 247.8294);
  --muted: oklch(0.2357 0.0075 248.1444);
  --muted-foreground: oklch(0.6780 0.0191 248.1098);
  --accent: oklch(0.4018 0.1005 150.5359);
  --accent-foreground: oklch(0.9456 0.0478 157.5753);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --border: oklch(0.3956 0.0153 248.2137);
  --input: oklch(0.3956 0.0153 248.2137);
  --ring: oklch(0.6578 0.1733 149.7017);
  --chart-1: oklch(0.6578 0.1733 149.7017);
  --chart-2: oklch(0.6165 0.1534 262.7168);
  --chart-3: oklch(0.8012 0.1378 81.5452);
  --chart-4: oklch(0.7106 0.1442 313.7638);
  --chart-5: oklch(0.5964 0.1903 33.1614);
  --sidebar: oklch(0.1441 0.0063 246.6299);
  --sidebar-foreground: oklch(0.9846 0.0009 247.8294);
  --sidebar-primary: oklch(0.6578 0.1733 149.7017);
  --sidebar-primary-foreground: oklch(0.1441 0.0063 246.6299);
  --sidebar-accent: oklch(0.4689 0.1198 150.2190);
  --sidebar-accent-foreground: oklch(0.9456 0.0478 157.5753);
  --sidebar-border: oklch(0.4603 0.0184 248.2267);
  --sidebar-ring: oklch(0.6578 0.1733 149.7017);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.5rem;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "Fira Code", monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.3;
  --shadow-blur: 15px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 6px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 6px 15px 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 6px 15px 0px hsl(0 0% 0% / 0.75);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}